div(data-role="header")
    h1 jQuery Mobile Harp Boilerplatediv(data-role="content")
ul(data-role="listview")
    li
        a(href="page-one.html") Page One
    li
        a(href="page-two.html") Page Two
    li
        a(href="http://www.jquerymobile.com") jQuery Mobile
    li
        a(href="http://www.harpjs.com") HarpJS
    li
        a(href="http://www.twitter.com/commadelimited") Commadelimited on Twitter
    li
        a(href="http://www.github.com/commadelimited") Commadelimited on Github